
.react-calendar {
    width: 100%;
    height: 100%;
    border: unset;
    border-radius: 10px;
    background-color: #141414;
    padding: 2em;
    font-family: Lato;
  }
  .react-calendar__navigation__prev2-button {
    display: none;
  }
  .react-calendar__navigation__next2-button {
    display: none;
  }
  .react-calendar__navigation {
    align-items: center;
  }
 
  .react-calendar__navigation__prev-button {
    background-color: #1DB954 !important;
    border-radius: 10px;
    min-width: 34px !important;
    height: 34px !important;
    color: white;
  }
  .react-calendar__navigation__next-button {
    background-color: #1DB954 !important;
    border-radius: 10px;
    min-width: 34px !important;
    width: 34px !important;
    height: 34px !important;
    color: white;
  }
  .react-calendar__navigation__label {
    font-weight: 700 !important;
    font-size: 18px;
    color:white;
  }
  .react-calendar__navigation__label:hover,
  .react-calendar__navigation__label:focus {
    background-color: unset !important;
    border-radius: 10px;
  }
  .react-calendar__tile {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px !important;
    height: 48px !important;
    color: white;
  }

  .react-calendar__month-view__weekdays {
    border-radius: 10px;
    margin-bottom: 6px;
  }
  .react-calendar__tile--now,
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background-color: black;
    color:white;
    border-radius: 10px;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #b0d5bf;
  }

  .react-calendar__tile--range,
  .react-calendar__tile--range:enabled:hover,
  .react-calendar__tile--range:enabled:focus {
    background: #1DB954;
    border-radius: 10px;
  }

  .react-calendar__tile:hover {
    background-color: black !important;
    color: white;
    border-radius:10px;
  }

  .react-calendar__tile:focus {
    background-color: #1DB954 !important;
    border-radius:10px !important;
  }

  /* Add this to your Calendar.css */
.react-calendar__tile[disabled] {
  background-color: transparent;
  /* color: #ccc; */
  pointer-events: none;
}

.react-calendar__tile[disabled]:hover {
  background-color: transparent;
}